* {
  margin: 0;
  padding: 0;
}

.parent {
  background-color: chartreuse;
  /* position: relative; */
}

.child1 {
  background-color: chocolate;
  position: static;
  /* width: 100%; */
  top: 0;
  /* position: absolute; */
  /* top: 5px; */
  /* left: 10px;
  bottom: 20px;
  right: 20px; */
}

.child2 {
  background-color: aqua;
  /* position: absolute; */
}

.child3 {
  background-color: red;
  /* position: absolute; */
}
